.notification{
	display: flex;
	flex-wrap: wrap;
	width: 360px;
	height: 100px;
	background-color: #f60;
	position: fixed;
	top: 15px;
	right: -360px;
	-webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.2);
	box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.2);
	border-radius: 8px;
	transition: all linear .5s;
}

.entering{
	right: 15px;
	transition: all linear .5s;
}

.exiting{
	right: -360px;
	transition: all linear .3s;
}

.notification .img{
	display: flex;
	width: 30%;
	justify-content: center;
	align-items: center;
}

.notification .img > img{
	width: 65px;
	height: 65px;
}

.notification .text{
	display: block;
	width: 63%;
}

.notification .text h3, .notification .text h4, .notification > button{
	font-family: 'Roboto', sans-serif;
}

.notification .text h3{
	font-size: 14px;
	color: #fff;
	font-weight: 400;
	margin: 10px 0;
}

.notification .text h4{
	margin: 0;
	font-size: 16px;
	font-weight: 400;
	color: #fff;
}

.notification > button{
	display: block;
	width: 7%;
	height: 25px;
	background: none;
	border: none;
	color: #fff;
	font-weight: 600;
}